@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@media only screen and (max-width: 800px) {
    .mainimg{
        display:none;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;

}
body{
    height: 100vh;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #24252A; 
  border-radius: 10px;
}





li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size:1rem;
    color:#ffffff;
    text-decoration: none;

}
.logo{
  width:auto;
  height: 5rem;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}

.logo{
    font-family: "Montserrat",sans-serif;
    font-weight: 200px;
    color: antiquewhite;

}

.nav-links{
    list-style:none;

}

.nav-links li{
    display:inline-block;
    padding:0px 20px;
}

.nav-links li a{
    transition:all 0.2s ease 0s;
}
.nav-links li a:hover{
    color:rgb(247, 225, 193);
}



/* hero section code */
.hero-section{
  min-height: 90vh;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding:2rem;
  margin:1rem;
}
.container{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    min-height: 70vh;
    max-height: 90vh;
    min-width:70vw;
    /* max-width: 90%; */
    /* margin-top: 1%; */
    /* margin-bottom:1%; */
    align-items:center;
    /* padding-top:2%; */
    /* padding-bottom:2%; */

}
.social-links li{
    display: inline-block;
    letter-spacing:0.1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-right:5px;
    /* border:1px solid rgb(98, 153, 216); */
}


.social-links li a img{
    width:1.7rem;
    height:auto;
    transition:0.6s;
}

.social-links li a img:hover{
    transform:scale(1.7);
    box-shadow: 1px;
}

.btn{
    color:aqua;
    font-size:1.5vh;
}
.image-container{
  flex-shrink: 1;
}
.mainimg{
    /* width: 20vw; */
    max-width: 24rem;
    /* min-width: 20vw; */
    min-height: 20rem;
    max-height: auto;
    padding: 2rem 2rem;
    margin:1rem 1 rem;
}
.text-container{
 display:flex;
 flex-direction:column;

}
.text-container h3{
    color: grey;
    font-size:1.5rem;
    font-family: 'Sacramento', cursive;
    font-weight: 900 !important;
    padding-bottom: 0.4rem;
    letter-spacing: 0.1em;

}

.text-container h5{
    color: grey;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
}
.text-container h4{
    color: grey;
    font-size: 1.3rem;
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 3rem;
}



.main-name{
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    color:rgba(255, 235, 215, 0.7) ;
    font-size:4.6rem;
    letter-spacing: 0.1rem;
    font-weight: 450;
    /* font-family: 'Sacramento', cursive; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.connect-to-me{
    display:flex;
    flex-direction: row;
}
.connect-to-me a:hover{
    color:orange;
    transition:color 1s ;
}

.email{
    color: yellowgreen;
    padding-left:20px;
    letter-spacing: 0.2em;
}
.lik-git li {
    display: inline-block;

}



@media only screen and (max-width: 1000px) {
  .mainimg{
    min-width:14rem;
    max-width:18rem;
  }  
  .container{
      min-width: 70vw !important;
      min-height: 75vh;
      max-height: 90vh;
      }
      .imgage-container{
        max-width:25vw;
      }
    .text-container{
      min-width: 30vw;
        justify-content: center;
    }
    .main-name{
        color: antiquewhite;
        Font-size:2rem;
        /* line-height:3rem; */
        letter-spacing: 0.1em;
        font-weight: 300;
        font-family: "Montserrat",sans-serif;
    }
    .text-container h3{
      font-size:1.2rem;
    }
    .text-container h5{
      font-size:1rem;
    }
    .text-container h4{
      font-size:1rem;
    }
    .email{
      padding:0px;
    }
    .social-links li a img{
        width:1.7rem;
        height:auto;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 500px) {

    .text-container{
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }
    .social-links li a img{
        width:1.2rem;
        height:auto;
    }
}


/* external css */
.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :24px;
    height: 35px;
  }
  .mousey {
    width: 3px;
    padding: 5px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }


 /* about section css */

 .about-section{
   position:relative;
   min-height: 60vh;
   /* max-height: 80vh; */
   padding:2rem;
   margin:2rem;
 }

 .about{
   min-height: 50vh;
   max-width:75vw;
   margin:auto;
   padding:auto;
   position:relative;
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;
 }




 .about-topic{
   display: flex;
 }
.main-about-topic{
    justify-content: flex-end;
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    letter-spacing: 4px;
    color: rgba(255,255,255,0.4);
}
 .about-para{
   padding:15px 15px;
   max-width: 50vw;
   justify-content: center;
 }
 .about-para p{
   font-size: 1rem;
   color:rgba(128,128,128,0.9);
   /* padding:1rem,1rem; */
   letter-spacing:0.2rem;
   line-height: 1.6rem;
   font-family: 'Source Sans Pro', sans-serif;
   }


 @media only screen and (max-width: 1000px) {
      .about{
        flex-direction:column;
      }
      .about-para{
        padding:15px 15px;
        max-width: 70vw;
      }
      .about-section{
        border:0px;
      }
      .about-me{
        display:none;
      }
      .about-para p{
        line-height: 1.3rem;

      }

 }

 @media only screen and (max-width: 500px) {
      .about-section{
        max-height: 100vh;
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;
      }
      .about{
        flex-direction:column;
      }
      .about-para{
        max-width: 80vw;
        justify-content: center;
      }
 }
 



/* skills section */
.skills-section {
  position: relative !important;
  min-height: 70vh;
  max-height: 75vh;
  max-width: 60vw;
  padding: 0rem 0rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.skills-section h1{
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  letter-spacing: 4px;
  color: rgba(255,255,255,0.4);
}


.skill-table{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.skill-tech{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  min-width: 50vw;
  max-width: 55vw;
  padding-top:2rem;
  padding-bottom:2rem;
  margin:auto;
}


.tech img{
  padding:10px;
  margin:5px;
}
.tech h1{
  font-size: 1.1rem;
  letter-spacing:0.1px;
  font-family: "Montserrat",sans-serif;
  color: rgba(255,255,255,0.4);
  max-width: 25vw;
}
.techi{
  width:2rem;
  height:auto;
  transition: all .2s ease-in-out; 
}
.techi:hover{
  transform:scale(2);
}


.tech-know{
  display: flex;
  justify-content:space-evenly;
  padding:0.1rem;
  align-items: center;
  min-width: 25vw;
  max-width:27vw;
} 


@media only screen and (max-width: 950px) {
  .techi{
    width:1.5rem;
    height:auto;
  }
}
@media only screen and (max-width: 850px) {
    .skill-tech{
    flex-direction: column;
    justify-content: center;
    padding:0px;
    margin:1.5rem;
  }  
  .tech-know{
    padding:0.8rem;
    min-width: 50vw;
  }
  .tech h1{
    max-width: 50vw;
  }

}

@media only screen and (max-width: 550px) {
    .skills-section{
      max-width:100vw;
      margin:2rem 2rem;
    }
    .skill-table{
      min-width:100vw;
    }
    .tech-know .one{
      min-width:70vw;
    }

  }







/*   experiences */


.experience-section{
  position:relative;
  max-height: 95vh;
  min-height:90vh;
  padding:3rem;
  margin:2rem;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}
 
.expHead{
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  letter-spacing: 6px;
  letter-spacing: 7px;
  color: rgba(255,255,255,0.4);
  padding: 1rem 1rem;
  margin:1rem 1rem;
  z-index:0;
}

.experience{
  display: flex;
  flex-direction:column;
}
.company{
  min-height: 25vh;
  min-width:60vw;
  margin:auto;
  padding:auto;
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

 
.company-topic{
  display:flex;
   flex-direction:column;
   justify-content: center;
   align-items:center;
}

.company-topic h4,h3{
  color:rgba(128,128,128,0.9);
  line-height: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-company-topic{
   font-size: 1.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 4px;
   color: #E9DFD2;
   font-weight: 600;

}


.exp-para ul li{
  font-size: 0.8rem;
  color:rgba(128,128,128,0.9);
  /* padding:1rem,1rem; */
  letter-spacing:0.2rem;
  line-height: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  align-items:center;
  /* text-align: center; */
  list-style: none;
}


.company-topic{
  transition:1s;
}

.company-topic:hover{
  transform:scale(1.2);
}

.exp-para{
  transition: 1s;

}

.exp-para:hover{
  transform: scale(1.2);
}


@media only screen and (max-width: 1250px) {
  .company{
      flex-direction: column;
  }
  .exp-para ul li{
    text-align:center;
    list-style:none;
}

}


@media only screen and (max-width: 600px) {
  .experience-section{
    min-height:70vh;
  }
  .exp-para{
    display: none;
  }
  .company{
    min-height:20vh;
  }
}



/* Projects section */




.projects-section{
  position:relative;
  max-height: 120vh;
  min-height:95vh;
  padding: 3rem;
  margin:2rem;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}
 
.projHead{
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  letter-spacing: 6px;
  letter-spacing: 7px;
  color: rgba(255,255,255,0.4);
  padding: 1rem 1rem;
  margin:1rem 1rem;
  z-index:0;
}

.projectlist{
  display: flex;
  flex-direction:column;
}
.project{
  min-height: 30vh;
  min-width:60vw;
  margin:auto;
  padding:auto;
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

 
.project-topic{
  display:flex;
   flex-direction:column;
   justify-content: center;
   align-items:center;
   padding:1rem 1rem;
  border-radius:5px;
}

.project-topic h4{
  color:rgba(128,128,128,0.9);
  line-height: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.main-project-topic{
   font-size: 1.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 4px;
   color: #E9DFD2;
   font-weight: 600;
   text-align: center;

}

.explain-proj ul li{
  font-size: 0.8rem;
  color:rgba(128,128,128,0.9);
  /* padding:1rem,1rem; */
  letter-spacing:0.2rem;
  line-height: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  align-items:center;
  /* text-align: center; */
  list-style: none;
}


.proj-code{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.proj-code a{
  padding:10px;
  margin:0px;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: center;
}


.proj-code a:hover{
  transform:translate3d(10px);
  color: rgb(247, 225, 193);
}


.proj-code a img{
  width: 1rem;height: 1rem;
  align-items:center;
  justify-content:center;
}


.proj-img{
  width:auto;
  min-height:8vh;
  max-height:10vh;
}

.project-topic{
  transition:1s;
  padding:1.4rem 1.4rem;
}



.project-topic:hover{
  transform:scale(1.2);
}


.explain-proj{
  transition: 1s;

}

.explain-proj:hover{
  transform: scale(1.2);
}


.see-more-proj{
display:inline-flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin-top:20px;
padding:10px;
transition:1s;
}

.see-more-proj:hover{
  transform:scale(1.2);
}


.see-more-proj span{
  font-size:1rem;
  justify-content:center;
  align-items: center;
  border:1px solid #fafafa;
  padding:0.6rem;
  border-radius:10px;
}

.see-more-proj span img{
    max-width:1.5rem;
    height:1rem;
    margin:5px;
    margin-bottom: 0px;
    margin-left:0px;
    padding-left:4px;
    
}



@media only screen and (max-width: 1250px) {
  .project{
      flex-direction: column;
  }
  .explain-proj ul li{
    text-align:center;
    list-style:none;
}

}


@media only screen and (max-width: 600px) {
  .projects-section{
    min-height: 80vh;
    justify-content: space-between;

  }
  .explain-proj{
    display: none;
  }
  .project{
    min-height:20vh;
  }
}



/* 
contact-form */

.Contactme{
  min-width:98vw;
  min-height:100vh;
  margin:auto;
  padding:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.connectform{
 width:75vw;
 height:auto;
}

/* externalcss */
body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  min-width:40vw;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}



.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgba(255, 235, 215, 0.7);
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: rgba(255, 235, 215, 0.7);
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: rgba(255, 235, 215, 0.7);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: rgba(255, 175, 95, 0.815);
}



@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
