@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@media only screen and (max-width: 1000px) {
    #main-img{
        display:none;
    }
    #social-link{
        display:none;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;

}
body{
    height: 100vh;
}

li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size:1rem;
    color:#ffffff;
    text-decoration: none;

}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}

.logo{
    font-family: "Montserrat",sans-serif;
    font-weight: 200px;
    color: antiquewhite;

}

.nav-links{
    list-style:none;

}

.nav-links li{
    display:inline-block;
    padding:0px 20px;
}

.nav-links li a{
    transition:all 0.2s ease 0s;
}
.nav-links li a:hover{
    color:beige;
}



/* hero section code */
.container{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    min-height: 80vh;
    /* max-width: 90%; */
    /* margin-top: 1%; */
    /* margin-bottom:1%; */
    align-items:center;
    /* padding-top:2%; */
    /* padding-bottom:2%; */

}
.social-links li{
    display: inline-block;
    letter-spacing:0.1rem;
    padding: 0px 10px;
    margin:0px 5px;
    /* border:1px solid rgb(98, 153, 216); */
}
.social-links li a img{
    width:1.7rem;
    height:auto;
}

.social-links li a img:hover{
    transform:scale(1.3);
    box-shadow: 1px;
}

.btn{
    color:aqua;
    font-size:1.5vh;
}
.mainimg{
    /* width: 20vw; */
    max-width: 25vw;
    /* min-width: 20vw; */
    min-height: 20vh;
    max-height: auto;
    padding: 2rem 2rem;
    margin:1rem 1 rem;
}
.text-container{
 display:flex;
 flex-direction:column;
}
.text-container h3{
    color: grey;
    font-size:1.3rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 900 !important;
    padding-bottom: 0.4rem;
    letter-spacing: 0.1em;

}

.text-container h5{
    color: grey;
    font-family: "Montserrat",sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    letter-spacing: 0.2em;
}
.text-container h4{
    color: grey;
    font-size: 1.3rem;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 20px;
}



.main-name{
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    color:rgba(255, 235, 215, 0.7) ;
    font-size:4rem;
    letter-spacing: 0.1rem;
    font-weight: extra-bold;
    /* font-family: 'Sacramento', cursive; */
    font-family: "Montserrat",sans-serif;

}




.connect-to-me{
    display:flex;
    flex-direction: row;
}
.connect-to-me a:hover{
    color:orange;
    transition:color 1s ease-in-out;
}

.email{
    color: yellowgreen;
    padding-left:20px;
    letter-spacing: 0.2em;
}
.lik-git li {
    display: inline-block;

}
.rot{
    position:absolute !important;
    transform:rotate(270deg);
    padding-bottom: 1vh;
    padding-left:2vw;
    margin: auto;
}
.notrot{
    position:absolute !important;
    padding-top: 3vh;
    padding-left:7rem;
    font-size: 1rem;

}


@media only screen and (max-width: 1000px) {
    .text-container{
        justify-content: center;
    }
    .main-name{
        color: antiquewhite;
        Font-size:2rem;
        /* line-height:3rem; */
        letter-spacing: 0.1em;
        font-weight: 300;
        font-family: "Montserrat",sans-serif;
    }
    .text-container h3{
      font-size:1rem;
    }
    .text-container h5{
      font-size:1rem;
    }
    .text-container h4{
      font-size:1rem;
    }
    .email{
      padding:0px;
    }
    .social-links li a img{
        width:1.7rem;
        height:auto;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 500px) {

    .text-container{
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }
    .social-links li a img{
        width:3 rem;
        height:auto;
    }
}


/* external css */
.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :24px;
    height: 35px;
  }
  .mousey {
    width: 3px;
    padding: 5px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
