@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@media only screen and (max-width: 800px) {
    .mainimg{
        display:none;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;

}
body{
    height: 100vh;
}

li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size:1rem;
    color:#ffffff;
    text-decoration: none;

}
.logo{
  width:auto;
  height: 5rem;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}

.logo{
    font-family: "Montserrat",sans-serif;
    font-weight: 200px;
    color: antiquewhite;

}

.nav-links{
    list-style:none;

}

.nav-links li{
    display:inline-block;
    padding:0px 20px;
}

.nav-links li a{
    transition:all 0.2s ease 0s;
}
.nav-links li a:hover{
    color:beige;
}



/* hero section code */
.hero-section{
  min-height: 90vh;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding:2rem;
  margin:1rem;
}
.container{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    min-height: 70vh;
    max-height: 90vh;
    min-width:70vw;
    /* max-width: 90%; */
    /* margin-top: 1%; */
    /* margin-bottom:1%; */
    align-items:center;
    /* padding-top:2%; */
    /* padding-bottom:2%; */

}
.social-links li{
    display: inline-block;
    letter-spacing:0.1rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-right:5px;
    /* border:1px solid rgb(98, 153, 216); */
}


.social-links li a img{
    width:1.7rem;
    height:auto;
}

.social-links li a img:hover{
    transform:scale(2);
    box-shadow: 1px;
}

.btn{
    color:aqua;
    font-size:1.5vh;
}
.image-container{
  flex-shrink: 1;
}
.mainimg{
    /* width: 20vw; */
    max-width: 24rem;
    /* min-width: 20vw; */
    min-height: 20rem;
    max-height: auto;
    padding: 2rem 2rem;
    margin:1rem 1 rem;
}
.text-container{
 display:flex;
 flex-direction:column;

}
.text-container h3{
    color: grey;
    font-size:1.5rem;
    font-family: 'Sacramento', cursive;
    font-weight: 900 !important;
    padding-bottom: 0.4rem;
    letter-spacing: 0.1em;

}

.text-container h5{
    color: grey;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
}
.text-container h4{
    color: grey;
    font-size: 1.3rem;
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 3rem;
}



.main-name{
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    color:rgba(255, 235, 215, 0.7) ;
    font-size:4rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
    /* font-family: 'Sacramento', cursive; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.connect-to-me{
    display:flex;
    flex-direction: row;
}
.connect-to-me a:hover{
    color:orange;
    transition:color 1s ease-in-out;
}

.email{
    color: yellowgreen;
    padding-left:20px;
    letter-spacing: 0.2em;
}
.lik-git li {
    display: inline-block;

}



@media only screen and (max-width: 1000px) {
  .mainimg{
    min-width:14rem;
    max-width:18rem;
  }  
  .container{
      min-width: 70vw !important;
      min-height: 75vh;
      max-height: 90vh;
      }
      .imgage-container{
        max-width:25vw;
      }
    .text-container{
      min-width: 30vw;
        justify-content: center;
    }
    .main-name{
        color: antiquewhite;
        Font-size:2rem;
        /* line-height:3rem; */
        letter-spacing: 0.1em;
        font-weight: 300;
        font-family: "Montserrat",sans-serif;
    }
    .text-container h3{
      font-size:1.2rem;
    }
    .text-container h5{
      font-size:1rem;
    }
    .text-container h4{
      font-size:1rem;
    }
    .email{
      padding:0px;
    }
    .social-links li a img{
        width:1.7rem;
        height:auto;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 500px) {

    .text-container{
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .connect-to-me{
        display:flex;
        flex-direction: column;
    }
    .social-links li a img{
        width:1.2rem;
        height:auto;
    }
}


/* external css */
.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :24px;
    height: 35px;
  }
  .mousey {
    width: 3px;
    padding: 5px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }


 /* about section css */

 .about-section{
   position:relative;
   min-height: 60vh;
   max-height: 80vh;
   padding:2rem;
   margin:2rem;
 }

 .about{
   min-height: 50vh;
   max-width:75vw;
   margin:auto;
   padding:auto;
   position:relative;
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;
 }



 /* .about-me{
   position: absolute;
   margin-top:-80px;
   width: 15vw;
   font-size: 2.5rem;
   font-weight: 200px;
   text-transform: uppercase;
}



 .light{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: transparent;
  text-shadow: 0 0 3px rgba(241, 237, 237, 0.733);
  z-index:1;
}
.dark{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index:2;
  font-weight: 200;
  background:transparent;
  text-transform:uppercase;
} */

 .about-topic{
   display: flex;
 }
.main-about-topic{
    justify-content: flex-end;
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    letter-spacing: 4px;
    color: rgba(255,255,255,0.4);
}
 .about-para{
   padding:15px 15px;
   max-width: 50vw;
   justify-content: center;
 }
 .about-para p{
   font-size: 1rem;
   color:rgba(128,128,128,0.9);
   /* padding:1rem,1rem; */
   letter-spacing:0.2rem;
   line-height: 1.6rem;
   font-family: 'Source Sans Pro', sans-serif;
   }


 @media only screen and (max-width: 1000px) {
      .about{
        flex-direction:column;
      }
      .about-para{
        padding:15px 15px;
        max-width: 70vw;
      }
      .about-section{
        border:0px;
      }
      .about-me{
        display:none;
      }
      .about-para p{
        line-height: 1.3rem;

      }

 }

 @media only screen and (max-width: 500px) {
      .about-section{
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;
      }
      .about{
        flex-direction:column;
      }
      .about-para{
        max-width: 80vw;
        justify-content: center;
      }
 }
 
/* skills section */
.skills-section{
  position:relative !important;
  min-height: 40vh;
  max-height: 60vh;
  max-width: 60vw;;
  padding-top:2rem;
  padding-bottom:2rem;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-section h1{
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  letter-spacing: 4px;
  color: rgba(255,255,255,0.4);
}


.skill-table{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.skill-tech{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  min-width: 50vw;
  max-width: 55vw;
  padding-top:2rem;
  padding-bottom:2rem;
  margin:auto;
}


.tech img{
  padding:10px;
  margin:5px;
}
.tech h1{
  font-size: 1.1rem;
  letter-spacing:0.1px;
  font-family: "Montserrat",sans-serif;
  color: rgba(255,255,255,0.4);
  max-width: 25vw;
}
.techi{
  width:2rem;
  height:auto;
  transition: all .2s ease-in-out; 
}
.techi:hover{
  transform:scale(2);
}


.tech-know{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  min-width: 20vw;
  max-width:27vw;
} 
/* 
@media only screen and (max-width: 850px) {
.skill-tech{
  flex-direction: column;
  justify-content: 
}

}

/*




 


*/ */
